[Unit]
Description=AlMasry SMM Website
After=network.target

[Service]
User=root
WorkingDirectory=/root/a1smm/website
Environment="BOT_DIR=/root/smmbot-main"
Environment="DB_PATH=/root/smmbot-main/data/bot.db"
Environment="WEB_SECRET=CHANGE_THIS_TO_RANDOM_SECRET"
ExecStart=/root/a1smm/venv/bin/gunicorn \
    --workers 1 \
    --bind 127.0.0.1:5000 \
    --timeout 60 \
    --access-logfile /var/log/a1smm_access.log \
    --error-logfile  /var/log/a1smm_error.log \
    app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
